.taskItem {
	width: 70%;
	margin-top: 0.2em;
	border: solid 3px;
	padding: 0.5em;
	border-radius: 10px;
}
.taskItem label {
	margin-top: 0;
}

.taskItem h5 , .taskItem.form-label  {
	margin-bottom: 0;
}
.taskItem .form-text {
	margin-top: 0;
}